body {
  font-family: 'Arial';
}
header {
  background-color: lightblue;
}

footer {
  background-color: lightcoral;
}

.odd {
  background-color: bisque;
}
.even {
  background-color: azure;
}
.odd;
